.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--black);
    width: 15em;
}

.menu .form {
    display: flex;
    flex-direction: column;
}

.menu .form > div {
    margin: 1em;
}

.menu .form > div > h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 2px;
}

.menu .form > div > select {
    padding: 5px;
    border-radius: .25rem;
}



.menu .form > div > * {
    width: 100%;
    margin: 2px 0;
}

.menu button {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--purple);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.menu button:hover,
.menu button:focus {
    background-color: var(--green);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.menu button:hover {
    transform: translateY(-1px);
}

.menu button:active {
    background-color: var(--soft-black);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.menu .clear {
    width: 80%;
}

.menu > .footer {
    margin: 1em;
}

.menu > .footer > a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.menu .settings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.menu .settings .gear {
    cursor: pointer;
}

.menu .svg {
    width: 35px;
    height: 35px;
}

.menu button:disabled {
    background-color: var(--soft-black);
}