.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    background-color: red;
    width: 15em;
}

.menu .form {
    display: flex;
    flex-direction: column;
}

.menu .form > div {
    margin: 1em;
}

.menu > .footer {
    margin: 1em;
}

.menu .form > div > * {
    width: 100%;
}